* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #030027;
    padding-top: 80px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    gap: 15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: black;
}

.carrito{
    filter: invert(100%);
    width: 45px;
    height: auto;

}

.cards{
    border: solid 2px black;
}

div{
    p{
        text-align: center;
        padding: 20px;
    }
}

.items{
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

